
@font-face {

    font-family: 'Amana';
    src: url(../Font/alfont_com_Ya-ModernPro-Bold.otf);
   
}

@font-face {
              font-family: 'Open Sans Regular';
              font-style: normal;
              font-weight: 400;
              src: url('chrome-extension://gkkdmjjodidppndkbkhhknakbeflbomf/fonts/open_sans/open-sans-v18-latin-regular.woff');
          }

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
        scroll-behavior: smooth;

    
}
html{
    scroll-behavior: smooth;
}
body {
    user-select: none;
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
    height: fit-content;
    font-family: 'Open Sans Regular', sans-serif;
    
    
}


.top-header{
    background-color: #172F4A;
    color: white;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    font-size: 15px;
    position: relative;
    top: 0px;
    

}

.top-header-contact{
    display: flex;
    width: fit-content;
    justify-content: space-between;
    gap: 20px;
}

@media (max-width: 777px) {
    .top-header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 20px;
        height: auto;
        font-size: 14px;
    }
    .top-header-contact {
        width: 100%;
        justify-content: flex-start;
        gap: 10px;
        margin-top: 5px;
    }
}



header {
  background-color: #F9FAFB;
  
   display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    filter: drop-shadow(0 4px 16px rgba(23,47,74,0.1));
    z-index: 100;
    padding: 0px 20px;
}

header .logo img{
    width: 80px;
    height: 80px;
   
}

nav {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.nav-links li a {
    color: #172F4A;
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 0.5rem;
    border-radius: 4px;
    transition: all 0.2s, color 0.2s;
    background-color: transparent;
}

.nav-links li a:hover:not(.contactUs),
    .nav-links li a:focus:not(.contactUs) {
        color: #FBA02A;
}

.nav-links li a.contactUs {
    background-color: #FBA02A;
    color: white;
}

.nav-links li a.contactUs:hover,
    .nav-links li a.contactUs:focus {
        background-color: #e5941f;
        color: white;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    margin-right: 1rem;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #172F4A;
    border-radius: 2px;
    transition: all 0.3s;
}
               
.burger.open div:nth-child(1) {
    transform: rotate(45deg) translate(7px,5px);
}

.burger.open div:nth-child(2) {
    opacity: 0;
}

.burger.open div:nth-child(3) {
    transform: rotate(-45deg) translate(5px , -5px);
}


/********************* Hero Section *********************/


.hero-section{

    background: url('../Media/hero-bg.jpg') no-repeat center center/cover;
    height: 81vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-content{
    width: 100%;
    height: 100%;
    background:linear-gradient(to right,#172F4A  , rgba(102, 102, 102, 0.5) , #172F4A )  ;
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 40px;
}

.hero-content h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    
}

.hero-content span{
    color: #FBA02A;
}

.hero-content p {
    font-size: 1.8rem;
    font-weight: 500;
    width: 60%;
}

.hero-btns{
  
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 50px;
}

.hero-btns a{
    text-decoration: none;
    width: 150px;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: background 0.3s, color 0.3s;
}

.hero-btns a.contact{
    background:transparent;
    border: 2px solid white;
    color: white;
}

.hero-btns a.contact:hover{
    background: white;
    color: #172F4A;
}

.hero-btns a.services{
    background: #FBA02A;
    color: white;
    border: 2px solid #FBA02A;
}

.hero-btns a.services:hover{
    background: transparent;
    color: #FBA02A;
}

.hero-section a.down{
    position: absolute;
    bottom: 10px;
    font-size: 30px;
    animation: flash 1s infinite;
    transition: all 0.3s;
    
}

.hero-section a.down:hover{
    scale: 1.2;
}


@keyframes flash {
     100% { opacity: 1;
    }
    50% { opacity: 0; }
}   
@media (max-width: 900px) {
    .hero-content h1{
        font-size: 2.5rem;
    }
    .hero-content p {
        font-size: 1.2rem;
        width: 90%;
    }
    .hero-btns{
        flex-direction: column;
        gap: 20px;
    }

    .hero-section a.down{
        display: none;
    }
}

/********************* Services Section *********************/

.services-section{
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
    padding: 120px 0px 20px 20px;


}
.services-section .services-header{
   text-align: center;
}

.services-section .services-header h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #172F4A;
}
.services-section .services-header p{
    font-size: 1.2rem;
    color: #555;
}

.services-section .cards-container{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 60px;
    flex-wrap: wrap;
}

.services-section .card-item{
    position: relative;
    background: white;
    width: 48%;
    height: 470px;
    border-radius: 12px;
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.096);
    display: flex;
    flex-direction: column;
    padding: 30px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.services-section .card-item:hover{
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.services-section .card-item .icon-container{
    width: fit-content;
    height: fit-content;
    background-color: #FEECD4;
    border-radius: 100%;
    
}

.services-section .card-item .icon-container i{
    width: 80px;
    height: 80px;
    aspect-ratio: 1/1;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
}
.services-section .card-item h3{
    color: #172F4A;
    margin: 20px 0px;   
    font-size: 1.8rem;
    position: absolute;
    right: 20%;
    
}
.services-section .card-item p{
    position: relative;
    color: #5e5e5e;
    font-size: 1.2rem;
    line-height: 1.5;
    flex-grow: 1;
    top:20px ;
    right: 4%;
    width: 90%;
    
}

.services-section .card-item ul{
    color: #FBA02A;
    padding: 10px 20px;
}

.services-section .card-item ul li{
    margin: 5px 0px;
    font-size: 1.1rem;
    list-style: inside;
    position: relative;
    ;
}

.services-section .card-item svg{
    fill: #000000;
    width: 40px;
    height: 40px;
    background-color: #FEECD4;
    padding: 10px;
    border-radius: 50%;
}

.services-section .card-item a.start{
    background-color: #172F4A;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 1.3rem;
    cursor: pointer;
    align-self: center;
    transition: all 0.3s;
    width: 100%;
    text-align: center;
    text-decoration: none;

}

.services-section .card-item:hover a{
    background-color: #FBA02A;
}
.services-section .card-item a i{
    margin-right: 5px;
    align-items: center;
    transition: all 0.3s;
}

.services-section .card-item:hover a i {
    transform: translateX(-5px);
}

@media (max-width: 900px) {
    .services-section .card-item{
        width: 90%;
        height: fit-content;
    }
    .services-section .card-item h3{
        font-size: 1.5rem;
        right: 30%;
    }
   .services-section  .card-item p{
        font-size: 1rem;
        top: 10px;
        right: 5%;
    }
    .services-section .card-item ul li{
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
   .services-section  .card-item h3{
        font-size: 1.2rem;
        right: 25%;
        top: 8%;
    }
   .services-section  .card-item p{
        font-size: 0.9rem;
        top: 5px;
        right: 3%;
    }
    .services-section .card-item ul li{
        font-size: 0.9rem;
    }
    .services-section .card-item a{
        font-size: 1rem;
        padding: 10px 15px;
    }

    

    .services-section .card-item .icon-container i{
        width: 60px;
        height: 60px;
        
        font-size: 30px;
    
    }
    
}

@media (max-width: 400px) {
    
   .services-section  .card-item h3{
        font-size: 1rem;
        right: 30%;
        top: 8%;
    }
   .services-section  .card-item p{
        font-size: 0.8rem;
        top: 5px;
        right: 3%;
    }
    .services-section .card-item ul li{
        font-size: 0.8rem;
    }
    .services-section .card-item a{
        font-size: 0.9rem;
        padding: 8px 10px;
    }
    .services-section .cards-container{
      
        margin-right: 10px;
    }
}

/********************* Start Section *********************/

.start-section{
    width: 95%;
    height: 250px;
    background-color: #172F4A;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding: 20px;
    margin: 60px auto;
    border-radius: 12px;
}

.start-section h1{
    font-size: 2rem;
}

.start-section p{
    font-size: 1.2rem;
    width: 60%;
}

.start-section a.contact{
    background-color: #FBA02A;
    color: white;
    border: none;
    padding: 15px 20px;
    border-radius: 8px;
    font-size: 1.3rem;
    cursor: pointer;
    align-self: center;
    transition: all 0.3s;
    width: 150px;
    text-align: center;
    text-decoration: none;
}

.start-section a:hover{
    background-color: #e5941f;
}

@media (max-width: 900px) {
    .start-section{
        height: fit-content;
        gap: 10px;
    }
    .start-section h1{
        font-size: 1.5rem;
    }
    .start-section p{
        font-size: 1rem;
        width: 90%;
    }
    .start-section a{
        font-size: 1rem;
        padding: 10px 15px;
        width: 120px;
    }
}

/********************* Process  Section *********************/

.process-section{
    width: 100%;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 20px 20px 20px;
}
.process-section .process-header h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #172F4A;
}

.process-section .process-header p{
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 60px;
}

.process-section .steps-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.process-section .step{
    background: #f3f3f3be;
    width: 20%;
    height: 300px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 30px;
    transition: all 0.3s, box-shadow 0.3s;
}

.process-section .step:hover{
    background-color: #eeececbe;
}

.process-section .steps-container .number{
    background-color: #FBA02A;
    width: 80px;
    height: 80px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

.process-section .step h3{
    color: #172F4A;
    margin: 20px 0px;   
    font-size: 1.5rem;
    
}
.process-section .step p{
    color: #5e5e5e;
    font-size: 1.1rem;
    line-height: 1.5;
    flex-grow: 1;
    width: 90%;
    
}
@media (max-width: 900px) {
    .process-section .step{
        width: 40%;
        height: 300px;
    }
    .process-section .step h3{
        font-size: 1.3rem;
    }
    .process-section .step p{
        font-size: 1rem;
    }
}

@media (max-width: 500px) {

    
    .process-section .step{
        width: 90%;
        height: fit-content;
    }
    .process-section .step h3{
        font-size: 1.2rem;
    }
    .process-section .step p{
        font-size: 0.9rem;
    }
}

/********************* Contact Section *********************/

.contact-section{
    width: 100%;
    height: fit-content;
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px 20px 20px 20px;
}

.contact-section .contact-header{
    text-align: center;
    margin-bottom: 20px;
}


.contact-section .contact-header h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #172F4A;
}

.contact-section .contact-header p{
    font-size: 1.2rem;
    color: #555;
}

.contact-section .contact-header p:last-child{
    color: #FBA02A;
}

.wrapper{
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 40px;
    
}

.contact-info{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;


}

.contact-info h3{
    color: #172F4A;
    font-size: 2rem;
    margin-right: 20px;
}

.contact-info .items-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-info .items-container .contact-item{
    position: relative;
    width: 50%;
    display: flex;
    align-items: flex-start;
    gap: 20px;

}

.contact-item .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.contact-info .items-container .contact-item h3{
    color: #172F4A;
    font-size: 1.5rem;
    margin: 0;
}
.contact-info .items-container .contact-item i {
    background-color: #FEECD4;
    width: 60px;
    height: 60px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding: 10px;
}


.contact-info .items-container .contact-item p{
        font-size: 1.2rem;
        color: #172F4A;
        
       
    }



.contact-info .items-container .contact-item a {
    text-decoration: none;
    color: #172F4A;
    font-size: 1.2rem;
    transition: all 0.3s;
    

}

.contact-info .items-container .contact-item a:hover{
    color: #FBA02A;
}


.form-container{
    width: 50%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    box-shadow:0 2px 8px rgba(0, 0, 0, 0.178);
;
}

.form-container h3{
    color: #172F4A;
    font-size: 2rem;
    margin-bottom: 10px;
}


.form-container form label{
    color: #172F4A;
    font-size: 1.2rem;
}
    




.form-container form input,
.form-container form select{
    height: 60px;
    border-radius: 12px;
    font-weight: 500;

}

.form-container form textarea{
    border-radius: 10px;
    min-height: 150px;
}

.form-container form input:focus,
.form-container form textarea:focus,
.form-container form select:focus{
    border: 2px solid #FBA02A;
    outline: none;
    box-shadow: none;
}

.form-container form button{
    background-color: #FBA02A;
    color: white;
    width: 100%;
    height: 60px;
    border: none;
    transition: all 0.3s;
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 20px 0px 50px 0px ;

}

.form-container form button:hover{
    background-color: #e5941f;
}

@media (max-width: 900px) {
    .wrapper{
        flex-direction: column;
        padding: 20px;
    }
    .contact-info{
        width: 100%;
        align-items: center;
        text-align: center;
        margin-bottom: 40px;
    }
    .contact-info .items-container{
        align-items: center;
    }

        .contact-info .items-container .content{
            align-items: center;        

        }
    .contact-info .items-container .contact-item{
        width: 80%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .contact-info .items-container .contact-item h3{
        margin-right: 0;
    }
    .form-container{
        width: 100%;
        padding: 20px;
    }
}

@media (max-width: 500px) {
    .contact-section .contact-header h1{
        font-size: 2rem;
    }
    .contact-section .contact-header p{
        font-size: 1rem;
    }
    .contact-info h3{
        font-size: 1.5rem;
    }
    .contact-info .items-container .contact-item{
        width: 100%;
    }
    .contact-info .items-container .contact-item h3{
        font-size: 1.2rem;
    }
    .contact-info .items-container .contact-item p,
    .contact-info .items-container .contact-item a{
        font-size: 1rem;
    }
    .contact-info .items-container .contact-item i{
        width: 50px;
        height: 50px;
        font-size: 25px;
    }
    .form-container h3{
        font-size: 1.5rem;
    }
    .form-container form label{
        font-size: 1rem;
    }
    .form-container form input,
.form-container form textarea,
.form-container form select{
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}
    .form-container form button{
        font-size: 1rem;
        padding: 10px 15px;
        height: 50px;
    }
}



    















/******** Footer ***********/


footer {
    position: relative;
    width: 100%;
    background-color: #172F4A;
    color: white;
    padding: 40px 20px;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);
}

footer .footer-content{
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

footer .footer-content .footer-logo{
    display: flex;
    align-items: flex-start;

}
footer .footer-content .footer-logo img {
    width: 150px;
}

.footer-links { 
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    
}

.footer-links h3 {
    color: #FBA02A;
    font-size: 1.3rem;
}

.footer-links li{
    margin-bottom: 10px;
    list-style: none;
    
}

.footer-links li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
    transition: all 0.3s;
}

.footer-links li a:hover{
    color: #FBA02A;
}


.footer-contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;

}

.footer-contact h3{
    color: #FBA02A;
    font-size: 1.3rem;

}

.footer-contact a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    transition: all 0.3s;
}

.footer-contact a.footer-phone{
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-contact a.footer-phone i{
    order: 1;
}

.footer-contact a i {
    color: #FBA02A;
}

.footer-contact a:hover{
    color: #FBA02A;

}

.footer-bottom{
    position: relative;
    bottom: 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
    top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.404);
    padding-top:20px ;

}

/* Media Queries */

@media (max-width: 900px) {
    footer .footer-content{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 40px;
    }
    footer .footer-content .footer-logo{
        align-items: center;
        flex-direction: column;
    }
    .footer-links,
    .footer-contact{
        align-items: center;
    }
    .footer-links h3,
    .footer-contact h3{
        margin-bottom: 15px;
    }
    .footer-links li{
        margin-bottom: 5px;
    }
    .footer-bottom{
        width: 100%;
    }
}

@media (max-width: 500px) {
    footer {
        padding: 30px 10px;
    }
    footer .footer-content .footer-logo img {
        width: 120px;
    }
    .footer-links h3,
    .footer-contact h3{
        font-size: 1.1rem;
    }
    .footer-links li a,
    .footer-contact a{
        font-size: 16px;
    }
    .footer-bottom p{
        font-size: 0.9rem;
    }
} 

@media (max-width: 400px) {
       
.footer-links { 
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    
}

.footer-links ul { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-links li a{
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-weight: 400;
    transition: all 0.3s;
    text-align: center;
    margin-right: 20px;
}

}

/***************************************/


.container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

.container .content{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
    height: 70%;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.466);;
}
.container .content i{
    color: green;
    font-size: 10rem;
}
.container .content h3{
    color: #172F4A;
    font-size: 1.5rem;
}

.container .content a{
    color: rgb(116, 116, 116);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: all 0.3s;;
}

.container .content a:hover{
    color: #0656b1;
    scale: 1.1;
}